
@* large  *@
<div class="d-none d-md-block ">
    <div class="partner-area ptb-100">
        <div class="container pb-5">
            <div class="section-title">
                <span>WE ARE</span>
                <h3>Holden Harvest</h3>
            </div>
            <section class="timeline">
                <div class="timeline-items row">
                    <div class="timeline-item col-12 col-md-2 my-2">
                        <div class="year year-md my-custom">1789</div>
                        <img src="assets/img/harvesting/1.png" alt="1789" />
                        <div class="tooltip tooltip-md">
                            <div class="tooltip-content">
                                Our story began in 1931, with my grandfather, known as “Haji,” a master of orchards in Azerbaijan. He possessed vast, bountiful lands, from which he sent his prized fruits far and wide, laying the foundation for our family’s legacy.
                            </div>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-2">
                        <div class="year year-md my-custom">1789</div>
                        <img src="assets/img/harvesting/2.png" alt="1789" />
                        <div class="tooltip tooltip-md">
                            <span class="tooltip-content">
                                In 1963, my father carried on this tradition, moving to Tehran and expanding the business beyond apples to include a wider variety of fruits, meticulously sourcing and distributing them throughout the region. The Iranian Revolution presented us with numerous challenges, requiring a difficult yet necessary shift in our operations.
                            </span>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-2">
                        <div class="year year-md my-custom">1789</div>
                        <img src="assets/img/harvesting/3.png" alt="1789" />
                        <div class="tooltip tooltip-md">
                            <span class="tooltip-content">
                                However, our spirit of innovation remained unbroken. In 2017, I established Mivii in the UAE, blending our rich heritage with modern, forward-thinking business practices.
                            </span>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-2">
                        <div class="year year-md my-custom">1789</div>
                        <img src="assets/img/harvesting/2.png" alt="1789" />
                        <div class="tooltip tooltip-md">
                            <span class="tooltip-content">
                                Then, in 2023, our story grew once more with the creation of Holden Harvest—a group encompassing not only fruits but also vegetables and fresh flowers, symbolizing our growth and resilience.
                            </span>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-2">
                        <div class="year year-md my-custom">1789</div>
                        <img src="assets/img/harvesting/1.png" alt="1789" />
                        <div class="tooltip tooltip-md">
                            <span class="tooltip-content">To ensure our customers’ peace of mind, our team in the Dubai office is available 24/7. You can reach out from anywhere in the world to track your orders, place new ones, and receive support, making the entire process seamless and worry-free.</span>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>

@* sm *@
<div class="d-block d-md-none ">
    <div class="partner-area ptb-100">
        <div class="container pb-5">
            <div class="section-title">
                <span>WE ARE</span>
                <h3>Holden Harvest</h3>
            </div>
            <section class="timeline">
                <div class="timeline-items row">
                    <div class="timeline-item col-12 col-md-2 my-3">
                        <div class="year year-sm">1789</div>
                        <img src="assets/img/harvesting/1.png" alt="1789" />
                        <div class="tooltip tooltip-sm">
                            <span class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-3">
                        <div class="year year-sm">1789</div>
                        <img src="assets/img/harvesting/2.png" alt="1789" />
                        <div class="tooltip tooltip-sm">
                            <span class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-3">
                        <div class="year year-sm">1789</div>
                        <img src="assets/img/harvesting/3.png" alt="1789" />
                        <div class="tooltip tooltip-sm">
                            <span class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-3">
                        <div class="year year-sm">1789</div>
                        <img src="assets/img/harvesting/2.png" alt="1789" />
                        <div class="tooltip tooltip-sm">
                            <span class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </div>
                    </div>
                    <div class="timeline-item col-12 col-md-2 my-2">
                        <div class="year year-sm">1789</div>
                        <img src="assets/img/harvesting/1.png" alt="1789" />
                        <div class="tooltip tooltip-sm">
                            <span class="tooltip-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <div class="partner-shape">
            <img src="assets/img/partner/shape.png" alt="main-image">
        </div>
        <div class="partner-shape-img1">
            <img src="assets/img/partner/shape-2.png" alt="image">
        </div>
    </div>
</div>
