@using Microsoft.AspNetCore.Mvc.Localization
@model My_ShopQuery.Contract.Footer.FooterQueryModel
@inject IViewLocalizer Localizer

 <!-- Start Footer Section -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>About Trifles</h3>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra  </p>
                        <ul class="footer-social">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Our Support</h3>
                        </div>

                        <ul class="footer-quick-links">
                            <li>
                                Help and Ordering
                            </li>
                            <li>
                                Return & Cancellation
                            </li>
                            <li>
                                Delevery Schedule
                            </li>
                            <li>
                                <a href="tel:08889802047">
                                    Get a Call
                                </a>
                            </li>
                            <li>
                                Online Enquiry
                            </li>
                            <li>
                                <a href="signup.html">
                                    My Account
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Contact info</h3>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-pin"></i>
                            <h3>Location</h3>
                            <span>2750 Quadra Street Victoria Road, <br> New York, Canada</span>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-call"></i>
                            <h3>Call Us</h3>
                            <span><a href="tel:+882-569-756">987-0986-0987</a></span>
                        </div>

                        <div class="footer-info-contact">
                            <i class="flaticon-envelope"></i>
                            <h3>Email Us</h3>
                            <span><a href="mailto: trifles@gmail.com">trifles@gmail.com</a></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Newsletter</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur aing elit, sed do eiusmod tempor.</p>

                        <form class="newsletter-form">
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
                            <button type="submit">
                                Subscribe Now
                                <i class="flaticon-plus"></i>
                            </button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <p>
                                Copyright <script>document.write(new Date().getFullYear())</script> Trifles. All Rights Reserved by
                                <a href="https://envytheme.com/" target="_blank">
                                    EnvyTheme
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li>
                                    <a href="terms-condition.html">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer Section -->